# Ignore node_modules for all services
node_modules/
.next/

# Ignore build artifacts, logs, and temp files
.env
*.log
dist/
build/
coverage/

# Ignore operating system files
.DS_Store
Thumbs.db
*.tsbuildinfo
